.containar {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.firstDiv {
    height: 110px;
    background-color: #1e2e79;
}
.firstDivChild {
    width: 75%;
    margin: auto;
}
#logo {
    width: 150px;
    height: 70px;
    margin-top: 18px;
    float: left;
}
.btn1 {
    float: right;
    width: 40px;
    background-color: #1e2e79;
    border: 0;
    margin-top: 58px;
}
.btn1:hover{
    border-bottom: 2px solid #fff;
}
#img1 {
    float: right;
    margin-top: 22px;
    width: 25px;
    height: 25px;
}
.secondDiv {
    width: 75%;
    height: 135%;
    margin: auto;
}
.second-top {
    height: 80px;
    /* border: 1px solid red; */
}
.top-left {
    float: left;
    font-family: Georgia;
    width: 54%;
}
.top-right {
    float: left;
    margin-top: 25px;
}
.btn2 {
    width: 180px;
    height: 35px;
    background-color: #1c2b6e;
    color: #fff;
    border: 1px solid #1e2e79;
    border-radius: 7px;
    font-size: 14px;
    font-family: Segoe UI;
}
#bookmark {
    width: 25px;
    height: 20px;
}
.inp1 {
    width: 220px;
    height: 33px;
    margin-left: 50px;
    border: 0;
    border-bottom: 1px solid #000;
    font-family: Segoe UI;
    font-size: 14px;
}
.no-thumbnail{
    background-image: url('../assets/Logo_White.png');
    background-color: #1c2b6e;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50%;

}
.second-middle {
    width: 100%;
    height: 45%;
}
.tile {
    width: 48%;
    height: 400px;
    /* border: 1px solid red; */
    float: left;
}
 .tile-body{
    width: 100%;
    height: 70%;
}
 .img2{
    width: 100%;
    height: 100%;
}
 .tile-footer{
    width: 100%;
    height: 30%;
    background-color: #1c2b6e;
    color: #fff;
    font-family: Segoe UI;
}
 .tile-title{
    margin: 0;
    padding: 5px 50px;
}
 .tile-subtitle{
    margin: 0;
    padding: 5px 50px;
}
.tile-right {
    float: right;
    width: 48%;
    height: 100%;
    /* border: 0px solid red; */
}
 .tileLeftOne {
    width: 48%;
    height: 70%;
    float: left;
}
 .tile-body-img3 {
    width: 100%;
    height: 60%;
}
.img3 {
    width: 100%;
    height: 100%;
}
.tile-footer3 {
    width: 100%;
    height: 40%;
    background-color: #1c2b6e;
    color: #fff;
    font-family: Segoe UI;
    margin-top: -20px;
}
.tile-title3 {
    margin-left: 10px;
    padding-top: 15px;
    font-size: 13px;
}
.tile-subtitle3 {
    margin-left: 10px;
}
.tile-footer5 {
    background-color: #1c2b6e; 
    width: 48%;
    height: 30%;
    float: left;
    color: #fff;
    font-family: Segoe UI;
}
.tile-footer6 {
    background-color: #1c2b6e; 
    width: 48%;
    height: 30%; 
    float: right;
    color: #fff;
    font-family: Segoe UI;
}
.tileLeftTwo {
    float: right;
    width: 48%;
    height: 70%;
}
.third-div {
    width: 75%;
    height: 45%;
    margin: auto;
}
.four-div {
    width: 75%;
    height: 45%;
    margin: auto;
}
.five-div {
    width: 75%;
    height: 45%;
    margin: auto;
}
.mainHead {
    margin-top: 30px;
}